<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">This is your appointment page, here you can register the time spend on your projects.</p>
  <div *ngIf="hasOpenAppointment">
    <hr class="my-4">
    <p class="lead">
      Time elapsed since you start working: {{elapsedTime}}
    </p>
  </div>
  <hr class="my-4">

  <div class="container">
    <div class="row">
      <div class="col-sm" *ngIf="!hasOpenAppointment">
        <button class="btn btn-outline-success btn-lg" data-toggle="modal" data-target="#modalStartAppointment">Start Appointment</button>
      </div>
      <div class="col-sm" *ngIf="hasOpenAppointment">
        <button class="btn btn-outline-danger btn-lg" (click)="stopAppointment()">Stop Appointment</button>
      </div>
      <div class="col-sm">
        <button class="btn btn-outline-secondary btn-lg" data-toggle="modal" data-target="#exampleModal" (click)="onNewAppointment()">Add new appointment</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Start-->
<div class="modal fade" id="modalStartAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p class="lead">Fill the following fields to start a new appointment:</p>
          <hr class="my-4">
          <form [formGroup]="appointmentStartForm" class="border-0">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputState">Project</label>
                <select id="inputState" class="form-control" formControlName="projectId">
                  <option selected>Choose...</option>
                  <option value="1">Timesheet</option>
                  <option value="2">DirReduce</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <input type="text" class="form-control" id="inputDescrition" placeholder="Description Here" formControlName="description">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="button" class="btn btn-outline-success" type="submit" data-dismiss="modal" (click)="startAppointment(appointmentStartForm.value)">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p class="lead">Fill the following fields to add a new appointment:</p>
          <hr class="my-4">
          <form [formGroup]="appointmentForm" class="border-0">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputStart">Start</label>
                <div class="container">
                  <p-calendar formControlName="start" showTime="true" hourFormat="24"></p-calendar>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputStop">End</label>
                <div class="container">
                  <p-calendar formControlName="end" showTime="true" hourFormat="24"></p-calendar>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputState">Project</label>
                <select id="inputState" class="form-control" formControlName="projectId">
                  <option selected>Choose...</option>
                  <option value="1">Timesheet</option>
                  <option value="2">DirReduce</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <input type="text" class="form-control" id="inputDescrition" placeholder="Description Here" formControlName="description">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="button" class="btn btn-outline-success" type="submit" data-dismiss="modal" *ngIf="appointmentForm.value.id==null" (click)="add(appointmentForm.value)">Save</button>
        <button class="button" class="btn btn-outline-success" type="submit" data-dismiss="modal" *ngIf="!appointmentForm.value.id==''" (click)="update(appointmentForm.value)">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- List -->
<label for="projectSelect">Filter By Project</label>
<select id="projectSelect" class="form-control" [(ngModel)]="projectIdSelected" (change)="setProjectId($event.target.value)">
  <option selected>Choose...</option>
  <option value="1">Timesheet</option>
  <option value="2">DirReduce</option>
</select>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Project</th>
        <th scope="col">Description</th>
        <th scope="col">Time Spent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <th scope="row">
          <button class="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" type="submit" (click)="onEditAppointment(appointment)">Edit</button>
        </th>
        <th scope="row">
          <button class="button" class="btn btn-outline-danger" type="submit" (click)="deleteAppointment(appointment.id)">Remove</button>
        </th>
        <td>{{appointment.start | date:'MM/dd/yyyy HH:mm'}}</td>
        <td>{{appointment.end | date: 'MM/dd/yyyy HH:mm'}}</td>
        <td>{{appointment.project.name}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.timeSpent}}</td>
      </tr>
    </tbody>
  </table>
</div>

