
<div class="jumbotron">
  <h1>Hello! :)</h1>
  <p class="lead">This is a timesheet project sample, built with:</p>
  <ul class="lead">
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://docs.microsoft.com/en-us/ef/core/'>SQL Server with EF Core</a> for database (O/RM)</li>
    <li><a href='https://docs.microsoft.com/en-us/ef/core/'>XUnit/FluentAssertions/Moq/Fixture</a> for unit tests</li>
  </ul>
</div>


<div class="lead">
  
  This project was build to solves the following two user stories:
  <br/>

  <div class="card">
    <div class="card-header">
      Story 1
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          As a freelancer<br />
          I want to be able to register the time I spend on my projects<br />
          so that I can create correct invoices for my customers<br />
        </p>
        <footer class="blockquote-footer">So, now you can register the time spend on your projects</footer>
      </blockquote>
    </div>
  </div>

  <hr class="my-4">

  <div class="card">
    <div class="card-header">
      Story 2
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          As a freelancer <br />
          I want to be able to get an overview of my time registrations<br />
          so that I can create correct invoices for my customers<br />
        </p>
        <footer class="blockquote-footer">At appointments tab you can filter the list of registrations and get a full overview of your projects</footer>
      </blockquote>
    </div>
  </div>
</div>

<hr class="my-4">

