
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p class="lead">This is a timesheet project sample, built with:</p>
  <ul class="lead">
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://docs.microsoft.com/en-us/ef/core/'>SQL Server with EF Core</a> for database (O/RM)</li>
    <li><a href='https://docs.microsoft.com/en-us/ef/core/'>XUnit/FluentAssertions/Moq/Fixture</a> for unit tests</li>
  </ul>

  <p class="lead">To help you get started:</p>

  <p class="lead">You can <strong>clone</strong> the repository <a href='https://github.com/karinakuroda/Timesheet'>here</a></p>
  <div class="lead">
  To run this project, make sure you have all dependencies installed:
  <ul>
    <li>Visual Studio</li>
    <li>Sql Server</li>
    <li>Net Core</li>
    <li>NodeJS</li>
    <li>Angular CLI</li>
  </ul>
  </div>
  
  <div>
    <hr class="my-4">
    <p class="lead">
      As a freelancer<br />
      I want to be able to register the time I spend on my projects<br />
      so that I can create correct invoices for my customers<br />
    </p>
    <p>
      As a freelancer <br />
      I want to be able to get an overview of my time registrations<br />
      so that I can create correct invoices for my customers<br />
    </p>
  </div>
  <hr class="my-4">
</div>
